<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dtre</key>
	<dict>
		<key>Digest</key>
		<data>
		/uPlNLL0GN+ri8wcKOzakVl4z4Y1VcuaqewYde7DZc0E8qWWV28r+wWziIP/
		SXhh
		</data>
	</dict>
	<key>rdtr</key>
	<dict>
		<key>Digest</key>
		<data>
		ye9ybf5djtUsYta1jTdgXgT7/XusggKBhCoxm1SHmn49sE7WeCPV96V5LsDK
		I4D8
		</data>
	</dict>
</dict>
</plist>
