<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Reporting</key>
    <dict>
        <key>Report_Unknown</key>
        <dict>
            <key>URLs</key>
            <dict>
                <key>QA</key>
                <string>https://concernreports-qa.g.apple.com/v2/report/report_unknown</string>
                <key>Production</key>
                <string>https://concernreports.apple.com/v2/report/report_unknown</string>
            </dict>
            <key>SMS_Enabled</key>
            <dict>
                <key>global</key>
                <true/>
            </dict>
            <key>iMessage_Enabled</key>
            <dict>
                <key>global</key>
                <true/>
            </dict>
            <key>RCS_Enabled</key>
            <dict>
                <key>global</key>
                <true/>
            </dict>
        </dict>
        <key>Report_Not_Junk</key>
        <dict>
            <key>URLs</key>
            <dict>
                <key>QA</key>
                <string>https://concernreports-qa.g.apple.com/v2/report/report_not_junk</string>
                <key>Production</key>
                <string>https://concernreports.apple.com/v2/report/report_not_junk</string>
            </dict>
            <key>SMS_Enabled</key>
            <dict>
                <key>global</key>
                <true/>
            </dict>
            <key>iMessage_Enabled</key>
            <dict>
                <key>global</key>
                <true/>
            </dict>
            <key>RCS_Enabled</key>
            <dict>
                <key>global</key>
                <true/>
            </dict>
        </dict>
        <key>Report_Junk</key>
        <dict>
            <key>URLs</key>
            <dict>
                <key>QA</key>
                <string>https://concernreports-qa.g.apple.com/v2/report/report_junk</string>
                <key>Production</key>
                <string>https://concernreports.apple.com/v2/report/report_junk</string>
            </dict>
            <key>SMS_Enabled</key>
            <dict>
                <key>global</key>
                <true/>
            </dict>
            <key>iMessage_Enabled</key>
            <dict>
                <key>global</key>
                <true/>
            </dict>
            <key>RCS_Enabled</key>
            <dict>
                <key>global</key>
                <true/>
            </dict>
        </dict>
    </dict>
    <key>Signature_Analysis</key>
    <dict>
        <key>Cool_Off_Min_Seconds</key>
        <integer>480</integer>
        <key>Cool_Off_Range_Seconds</key>
        <integer>90</integer>
        <key>CloudKit_Container</key>
        <string>com.apple.TK.FraudDefense</string>
        <key>CloudKit_Short_Timeout</key>
        <integer>10</integer>
        <key>CloudKit_Long_Timeout</key>
        <integer>10</integer>
        <key>CloudKit_Background_Timeout</key>
        <dict>
            <key>default</key>
            <integer>240</integer>
            <key>watch</key>
            <integer>60</integer>
        </dict>
        <key>CloudKit_Background_Schedule</key>
        <integer>14400</integer>
        <key>CloudKit_Background_Max_Delay</key>
        <integer>3600</integer>
        <key>CloudKit_Adhoc_Background_Schedule</key>
        <integer>300</integer>
        <key>CloudKit_Adhoc_Background_Max_Delay</key>
        <integer>60</integer>
        <key>CloudKit_Connection_Timeout</key>
        <integer>60</integer>
        <key>CloudKit_Records_Limit</key>
        <integer>1000</integer>
        <key>Arrival_Check_Enabled</key>
        <true/>
        <key>Delay_Check_Enabled</key>
        <true/>
        <key>Read_Check_Enabled</key>
        <true/>
        <key>SMS_Enabled</key>
        <dict>
            <key>global</key>
            <true/>
        </dict>
        <key>iMessage_Enabled</key>
        <dict>
            <key>global</key>
            <true/>
        </dict>
        <key>RCS_Enabled</key>
        <dict>
            <key>global</key>
            <true/>
        </dict>
    </dict>
    <key>Sender_Lookup</key>
    <dict>
        <key>Arrival_Check_Enabled</key>
        <true/>
        <key>Delay_Check_Enabled</key>
        <true/>
        <key>Read_Check_Enabled</key>
        <true/>
        <key>SMS_Enabled</key>
        <dict>
            <key>global</key>
            <true/>
        </dict>
        <key>iMessage_Enabled</key>
        <dict>
            <key>global</key>
            <true/>
        </dict>
        <key>RCS_Enabled</key>
        <dict>
            <key>global</key>
            <true/>
        </dict>
    </dict>
    <key>Inference</key>
    <dict>
        <key>Reinference_Check_Enabled</key>
        <true/>
        <key>Reinference_Background_Schedule</key>
        <integer>86400</integer>
        <key>Reinference_Background_Max_Delay</key>
        <integer>3600</integer>
        <key>Reinference_Background_On_Power_Enabled</key>
        <true/>
        <key>Arrival_Check_Enabled</key>
        <true/>
        <key>Delay_Check_Enabled</key>
        <true/>
        <key>Read_Check_Enabled</key>
        <true/>
        <key>SMS_Enabled</key>
        <dict>
            <key>global</key>
            <true/>
        </dict>
        <key>iMessage_Enabled</key>
        <dict>
            <key>global</key>
            <true/>
        </dict>
        <key>RCS_Enabled</key>
        <dict>
            <key>global</key>
            <true/>
        </dict>
    </dict>
</dict>
</plist>
