<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>socketfilterfw</string>
    <key>CFBundleIdentifier</key>
    <string>com.apple.ALF.ApplicationFirewall</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>socketfilterfw</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en_US</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2023 Apple Inc. All rights reserved.</string>
    <key>NetworkExtension</key>
    <dict>
        <key>NEProviderClasses</key>
        <dict>
            <key>com.apple.networkextension.filter-data</key>
            <string>FilterDataProvider</string>
        </dict>
    </dict>
    <key>exceptions</key>
    <array>
        <dict>
            <key>path</key>
            <string>/usr/libexec/configd</string>
            <key>state</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/sbin/mDNSResponder</string>
            <key>state</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/sbin/racoon</string>
            <key>state</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/libexec/bootpd</string>
            <key>state</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/libexec/xartstorageremoted</string>
            <key>state</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/sbin/netbiosd</string>
            <key>bundleid</key>
            <string>com.apple.netbiosd</string>
            <key>state</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/local/libexec/remotepairingdeviced</string>
            <key>bundleid</key>
            <string>com.apple.CoreDevice.remotepairingdeviced</string>
            <key>state</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/libexec/remoted</string>
            <key>bundleid</key>
            <string>com.apple.remoted</string>
            <key>state</key>
            <integer>1</integer>
            <key>type</key>
            <string>applications</string>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/bin/python3</string>
            <key>state</key>
            <integer>1</integer>
            <key>type</key>
            <string>applications</string>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/bin/ruby</string>
            <key>state</key>
            <integer>1</integer>
            <key>type</key>
            <string>applications</string>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/sbin/cupsd</string>
            <key>state</key>
            <integer>1</integer>
            <key>type</key>
            <string>applications</string>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/libexec/sharingd</string>
            <key>state</key>
            <integer>1</integer>
            <key>type</key>
            <string>applications</string>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/libexec/sshd-keygen-wrapper</string>
            <key>state</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/sbin/smbd</string>
            <key>bundleid</key>
            <string>com.apple.smbd</string>
            <key>type</key>
            <string>applications</string>
            <key>state</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/bin/nmblookup</string>
            <key>state</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>path</key>
            <string>/System/Library/PrivateFrameworks/Admin.framework/Versions/A/Resources/readconfig</string>
            <key>state</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/libexec/discoveryd</string>
            <key>state</key>
            <integer>1</integer>
            <key>type</key>
            <string>applications</string>
        </dict>
        <dict>
            <key>path</key>
            <string>/usr/libexec/srp-mdns-proxy</string>
            <key>state</key>
            <integer>1</integer>
        </dict>
    </array>
</dict>
</plist>

