<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dtre</key>
	<dict>
		<key>Digest</key>
		<data>
		k72MQgSKWX7u1JXqNfPRH9GwHeDTwBIKDe9KBjyvMUeVurnK46zjK4GdHAES
		OWp9
		</data>
	</dict>
	<key>rdtr</key>
	<dict>
		<key>Digest</key>
		<data>
		K87SDY4iT86oSVU0xSFjhubZzZRgnoKpOB8gIniscB5xNaequ7radluYuXMd
		FT/2
		</data>
	</dict>
</dict>
</plist>
