<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ibot</key>
	<dict>
		<key>Digest</key>
		<data>
		duTE95mj+GgHoP6VUCLAvfuz80U6gpdpumlkXomgTQZhHjtlG0TASxdPjg5r
		06tF
		</data>
	</dict>
</dict>
</plist>
