<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rsep</key>
	<dict>
		<key>Digest</key>
		<data>
		JtxdB/RYAt03vMTmRDfN11+8EVbRTXl+3ix7Me0nFSMss/hsetAdReCQHMmN
		o3IX
		</data>
	</dict>
	<key>sepi</key>
	<dict>
		<key>Digest</key>
		<data>
		gWTBIkitnkfpEx9ESWuOiUQP+4RJljpeKbZLveIPg0SpvOiYxErVUUAnul5o
		xKZ+
		</data>
	</dict>
</dict>
</plist>
